<panier></panier>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<button class="btn btn-default btn-block" ng-click="$ctrl.setCommandeType('A_EMPORTER')">A EMPORTER</button> 
		</div>
		<div class="col-sm-6">
			<button class="btn btn-default btn-block" ng-click="$ctrl.setCommandeType('LIVRAISON')">LIVRAISON A DOMICILE</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-8 col-sm-4">
			<button class="btn btn-default btn-block" ng-click="$ctrl.setCommande()">Confirmer la commande</button> 
		</div>
	</div>
</div>