<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1> Informations personnelles </h1>
    <button class="btn pull-right bouton" ng-click=$ctrl.modifications() ng-if="!$ctrl.modif"> Modifier </button>
    <button class="btn pull-right bouton" ng-click=$ctrl.modifications() ng-if="$ctrl.modif"> Annuler </button>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        Nom :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " ng-if="!$ctrl.modif">
        {{$ctrl.clientConnecte.nom}}
        <p ng-if="!$ctrl.clientConnecte.nom"> # </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="$ctrl.modif">
        <form name="formMAJ">
            <div name="divNom" class="form-group">
                <input id="nomClient" name="nomClient" ng-model="$ctrl.clientConnecte.nom" type="text" class="form-control">
            </div>
        </form>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        Prénom :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " ng-if="!$ctrl.modif">
        {{$ctrl.clientConnecte.prenom}}
        <p ng-if="!$ctrl.clientConnecte.prenom"> # </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="$ctrl.modif">
        <form name="formMAJ">
            <div name="divPrenom" class="form-group">
                <input id="prenomClient" name="prenomClient" ng-model="$ctrl.clientConnecte.prenom" type="text" class="form-control">
            </div>
        </form>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        Email :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " ng-if="!$ctrl.modif">
        {{$ctrl.clientConnecte.email}}
        <p ng-if="!$ctrl.clientConnecte.email"> # </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="$ctrl.modif">
        <form name="formMAJ">
            <div name="divEmail" class="form-group">
                <input id="emailClient" name="emailClient" required ng-model="$ctrl.clientConnecte.email" type="email" class="form-control">
                <p class="text-danger" ng-if="formMAJ.emailClient.$error.email 
                    && formMAJ.emailClient.$touched">Votre email est invalide !</p>
                <p class="text-danger" role="alert" ng-if="formMAJ.emailClient.$error.required">Veuillez rentrer un email !</p>
            </div>
        </form>
    </div>

    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        Mot de passe :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " ng-if="!$ctrl.modif">
        ******
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="$ctrl.modif">
        <form name="formMAJ">
            <div name="divEmail" class="form-group">
                <input id="mdpClient" name="mdpClient" ng-model="$ctrl.clientConnecte.motDePasse" type="password" value="Votre mot de passe" class="form-control">
                <p class="text-danger" ng-if="formInscription.mdpClient.$error.required 
                        && formInscription.mdpClient.$touched">Veuillez rentrer un mot de passe !</p>

                <input id="confMdpClient" name="confMdpClient" ng-model="$ctrl.confMdp" type="password" value="Confirmez votre mot de passe" class="form-control">
                <p class="text-danger" ng-if="$ctrl.clientConnecte.motDePasse !== $ctrl.confMdp && formInscription.mdpClient.$touched && formInscription.confMdpClient.$touched">Les mots de passe ne sont pas identiques !</p>
            </div>
        </form>
    </div>-->


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        Adresse :
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " ng-if="!$ctrl.modif">
        {{$ctrl.clientConnecte.adresse}}
        <p ng-if="!$ctrl.clientConnecte.adresse"> # </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="$ctrl.modif">
        <form name="formMAJ">
            <div name="divAdresse" class="form-group">
                <input id="adresseClient" name="adresseClient" ng-model="$ctrl.clientConnecte.adresse" type="text" class="form-control">
            </div>
        </form>
        <button ng-disabled="formMAJ.$invalid" type="submit" class="btn bouton" ng-click="$ctrl.soumissionFormulaire()"> Modifier Informations </button>
    </div>

</div>

</div>


<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1> Commandes </h1>
    <table class="table">
        <thead>
            <tr>
                <th> Date </th>
                <th class="hidden-xs"> N° de commande </th>
                <th class="hidden-xs"> Statut </th>
                <th class="hidden-xs"> Prix </th>
                <th> Détails </th>
            </tr>
        </thead>
        <tbody>
            <<tr ng-repeat="commande from $ctrl.commandes">
                <td> commande.dateCommande </td>
                <td class="hidden-xs"> commande.numeroCommande </td>
                <td class="hidden-xs"> commande.statut </td>
                <td class="hidden-xs"> commande.prix </td>
                <td> <a href="/commande/{{commande.id}}" class="btn pull-right dernieres-pizzas" role="button"> Ajouter au panier </a> </td>x
            </tr>-->
</tbody>
</div>